nav {
    position: sticky !important;
    top: 0;
}

.mainBody {
    background-color: #f4ffff47;
    height: 100vh;
}

.logo {
    width: 4vw;
    /* margin-top: 1rem; */
}

.about,
.contact {
    margin-top: 3rem;
    justify-content: space-evenly;
}

.about-left,
.contact-left {
    width: 45%;
}


.about-left p {
    margin-top: 1rem;
    text-align: start;
}

.about-right,
.contact-left {
    width: 40%;
}

.about-right img,
.contact-left img {
    width: 100%;
}

.foot {
    width: 100%;
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

.foot p {
    margin: 0;
    padding: 0.8rem;
}

.contact-right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user,
.phone,
.email,
.address,
.message {
    gap: 2rem;
    border-bottom: 1px solid;
    width: fit-content;
    margin-top: 1.5rem;
}

.message,
.address {
    align-items: baseline;
}

.subBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.1rem 0;
}

.inputArea {
    border: 1px solid grey;
    border-radius: 10px;
    width: fit-content;
    padding: 1rem;
    font-size: 20px;
    background-color: rgb(57, 141, 144);
}

.inputArea input {
    text-align: center;
}

.footPages {
    width: 100vw;
    position: absolute;
    top: 92vh;
}

.comConv input {
    text-align: center;
    width: 50%;
    background: none;
}

.comConv {
    justify-content: flex-end;
}

.comConv label {
    font-weight: bold;
}

.colo {
    background-color: #8ee9e1;
    border-radius: 10px;
}


@media only screen and (max-width : 700px) {
    .inputArea {
        font-size: 15px;
        padding: 0.7rem;
    }

    .about-left p {
        font-size: 12px;
    }

    .about-right img, .contact-left img {
        width: 120%;
    }

    .about,.contact {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width : 400px) {
    .inputArea {
        font-size: 12px;
        padding: 0.5rem;
    }
}